/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

header img {
    width: 150px; /* Adjust the size of the profile picture as needed */
    border-radius: 50%;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size:
